* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  background: rgb(3, 40, 85);
  background: linear-gradient(90deg, rgba(3, 40, 85, 1) 0%, rgba(0, 16, 36, 1) 100%); 
  /* 
  ESTO VA DE CLARO A OSCURO
  */
  /* 
  background: rgb(0, 16, 36);
  background: linear-gradient(90deg, rgba(0, 16, 36, 1) 0%, rgba(3, 40, 85, 1) 100%);
  ESTO VA DE OSCURO A CLARO 
  */
}